.contain {
  max-width: 1640px;
  width: 100vw;
  padding: 130px 15px 0px 15px;
  height: 95vh;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 80%;
  max-width: 1200px;
  height: 100%;
  max-height: 725px;

  background-color: var(--black);
  margin: 0 auto;
  border-radius: 20px;

  /* padding-top: 50px;
  padding-bottom: 50px; */

  &-title {
    font-size: 30px;
    line-height: 1.5;
    font-family: var(--bold);
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  row-gap: 40px;

  &-item {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    & .label {
      width: 30%;
      padding: 15px 0px;
      position: relative;
      label {
        width: 100%;
        margin-bottom: 5px;
      }
      &-icon {
        display: flex;
        column-gap: 3px;
        position: absolute;
        bottom: -50%;
        transition: all 1s;
      }
    }
    & .input {
      width: 60%;
      position: relative;
      input {
        width: 100%;
        padding: 15px 0px 15px 15px;
        background-color: var(--primary-color);
        font-size: 20px;
        font-family: var(--regular);
        color: white;
        outline: none;
        border: none;
        border-radius: 20px;
      }
      .group-error {
        position: absolute;
        bottom: -50%;
        left: 10px;
        .error {
        color: rgb(247, 173, 173);
        margin-right: 5px;
        display: inline-block;
      }
      }
     
    }
  }
}
.groupBtn {
  p {
    width: 30%;
  }
  .action {
    width: 60%;
    span {
      display: block;
      margin-top: 20px;
      a {
        color: #e600ff;
        font-size: 20px;
        text-decoration: underline;
      }
    }
  }
}
.btn {
  color: white;
  font-size: 16px;
  font-family: var(--regular);
  border: 2px solid #232a4e;
  border-radius: 10px;
  padding: 15px 22px;
  background-color: transparent;
  &:disabled{
    color: var(--gray);
  }
  &:hover {
    background-color: white;
    color: var(--primary-color);
  }
}
@media screen and (max-width: 770px) {
  .signup {
    width: 100%;
  }
  .form {
    &-item {
      flex-direction: column;
      & .label {
        width: 100%;
      }
      & .input {
        width: 100%;
      }
      & .label-icon {
        bottom: 30%;
        right: 0;
      }
    }
  }
  .groupBtn {
    p {
      display: none;
    }
    .action {
      width: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
@media screen and (max-height: 750px) {
  .contain {
    height: auto;
    padding-top: 90px;
  }
  .signup {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .form {
    row-gap: 30px;
    margin-top: 20px;
  }
  .groupBtn {
    p {
      display: none;
    }
    .action {
      width: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
