<div class="container">
  <div class="signup">
    <div class="signup-icon">
      <img [src]="wave" alt="" />
    </div>
    <div class="signup-title">Create an account</div>
    <form
      action=""
      class="form"
      (ngSubmit)="onSubmit()"
      [formGroup]="signUpForm"
    >
      <div class="form-item">
        <div class="label"><label for="username">Name</label></div>
        <div class="input">
          <!-- (keydown.space)="$event.preventDefault();"  ==> Prevent user to enter space in textbox -->
          <input
            type="text"
            formControlName="username"
            id="username"
            placeholder="Username"
          />
          <div
            class="error"
            *ngIf="
              signUpForm.get('username')?.errors?.required &&
              signUpForm.get('username')?.touched
            "
          >
            <span>Username is required </span>
          </div>
          <div
            class="error"
            *ngIf="
              signUpForm.get('username')?.errors?.pattern &&
              signUpForm.get('username')?.touched
            "
          >
            <span>Username more than 6 char </span>
          </div>
          <div
            class="error"
            *ngIf="
              signUpForm.get('username')?.errors?.usernameDuplicated &&
              signUpForm.get('username')?.touched
            "
          >
            <span>Username cant use </span>
          </div>
        </div>
      </div>
      <div class="form-item">
        <div class="label">
          <label for="password">Password</label>
          <div class="label-icon" *ngIf="checkPassword">
            <fa-icon [icon]="faLock" [style.color]="lockColor.color1"></fa-icon>
            <fa-icon [icon]="faLock" [style.color]="lockColor.color1"></fa-icon>
            <fa-icon [icon]="faLock" [style.color]="lockColor.color2"></fa-icon>
            <fa-icon [icon]="faLock" [style.color]="lockColor.color2"></fa-icon>
            <fa-icon [icon]="faLock" [style.color]="lockColor.color3"></fa-icon>
            <fa-icon [icon]="faLock" [style.color]="lockColor.color3"></fa-icon>
          </div>
        </div>

        <div class="input">
          <input
            type="password"
            formControlName="password"
            id="password"
            placeholder="Password"
            [(ngModel)]="checkPassword"
            (ngModelChange)="checkStrongPassword($event)"
          />

          <div
            class="error"
            *ngIf="
              signUpForm.get('password')?.errors &&
              signUpForm.get('password')?.touched
            "
          >
            <span>Password is required</span>
          </div>
        </div>
      </div>
      <div class="form-item">
        <div class="label"><label for="confirm">Confirm Password</label></div>
        <div class="input">
          <input
            type="password"
            formControlName="confirm"
            id="confirm"
            placeholder="Confirm Password"
            (blur)="checkMatchPassword($event)"
          />

          <div
            class="error"
            *ngIf="
              signUpForm.get('confirm')?.touched &&
              signUpForm.get('confirm')?.errors
            "
          >
            <span>Required confirm password</span>
          </div>
          <div
            class="error"
            *ngIf="signUpForm.get('confirm')?.touched && !matchPassword"
          >
            <span>Password not match</span>
          </div>
        </div>
      </div>
      <div class="form-item groupBtn">
        <p></p>
        <div class="action">
          <button type="submit" class="btn" [disabled]="signUpForm.invalid">
            Create account
          </button>
          <span
            >Already an account ?
            <a routerLink="/login"> Log In</a>
          </span>
        </div>
      </div>
    </form>
    <!--  <pre>{{ signUpForm.get('name')?.errors | json }}</pre> -->
  </div>
</div>
