
:root {
 --primary-color:#081730;
 --black:#020917; 
 --gray:rgba(255, 255, 255, 0.3);
 --bold:'Sofia Pro Bold';
 --semi:'Sofia Pro Semi';
 --regular:'Sofia Pro Regular';
 --ultra:'Sofia Pro Ultra';
 --border-radius:120px;
 --width-img:384px;
}
