<div class="about">
  <div class="about-icon">
    <img [src]="wave" alt="" />
  </div>
  <div class="about-title">
    <span>An Amazing App Can Change Your Daily Life </span>
    Music Experience
  </div>
  <div class="about-boxs">
    <div class="about-box">
      <div class="about-box-img">
        <img [src]="about1" alt="" />
      </div>
      <div class="about-box-title">For Live Music</div>
      <div class="about-box-desc section-text">
        Donec laoreet nec velit vitae aliquam. Ut quis tincidunt purus.
        Suspendisse.
      </div>
      <a class="about-box-link" href="#"> Learn more </a>
    </div>
    <div class="about-box">
      <div class="about-box-img">
        <img [src]="about2" alt="" />
      </div>
      <div class="about-box-title">For Daily Music</div>
      <div class="about-box-desc section-text">
        Nunc elementum, dolor vitae lacinia pulvinar, augue felis scelerisque
        libero, sit amet laoreet lorem.
      </div>
      <a class="about-box-link" href="#"> Learn more </a>
    </div>
    <div class="about-box">
      <div class="about-box-img">
        <img [src]="about3" alt="" />
      </div>
      <div class="about-box-title">For Artists</div>
      <div class="about-box-desc section-text">
        Cras ullamcorper nisi accumsan, porta nulla nec, suscipit nibh. Nullam
        bibendum, diam eu vestibulum imperdiet
      </div>
      <a class="about-box-link" href="#"> Learn more </a>
    </div>
  </div>
</div>
