<div class="wrapper">
  <div class="abc">
    <header class="header">
      <img [src]="logoUrl" alt="" class="header-logo" />
      <app-nav></app-nav>

      <div class="header-action">
        <app-button name="Sign Up" btnLink="/signup"></app-button>
        <app-button name="Log In" btnLink="/login"></app-button>
      </div>
    </header>
  </div>

  <section class="pages">
    <router-outlet></router-outlet>
  </section>
  <div class="footer">
    <p class="copy">Copyright © 2020-2021</p>
    <img [src]="logoUrl" alt="" />
    <p class="author">Muziq All Right Reserved</p>
  </div>
</div>
