<div class="banner">
  <div class="banner-info">
    <div class="banner-title">
      <h1><span>Experience The</span>Best Quality Music</h1>
    </div>
    <p class="banner-desc section-text">
      Donec laoreet nec velit vitae aliquam. Ut quis tincidunt purus.
      Suspendisse in leo non risus tincidunt lobortis.
    </p>
    <p class="banner-text">Download now on iOS and Android</p>
    <div class="banner-download">
      <div class="banner-download-img">
        <img [src]="AppStore" alt="" />
      </div>
      <div class="banner-download-img">
        <img [src]="GooglePlay" alt="" />
      </div>
    </div>
  </div>
  <div class="banner-groupImg">
    <div class="groupImg-main">
      <img [src]="EqualizerBack" alt="" class="banner-img-equa abscenter" />
      <img [src]="banner1" alt="" class="banner-img-1 abscenter" />
      <img [src]="banner2" alt="" class="banner-img-2 abscenter" />
      <img [src]="banner3" alt="" class="banner-img-3 abscenter" />
      <img [src]="banner4" alt="" class="banner-img-4 abscenter" />
    </div>
  </div>
</div>
