.container{
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
}
.banner {
  max-width: 1640px;
  width: 100%;
  display: flex;
  align-items: center;
  
  padding: 130px 15px 0px 15px;
  margin: 0 auto;
  &-info {
    width: 50%;
    z-index: 100;
    display: flex;
    flex-direction: column;
  }
  &-title {
    font-size: 90px;
    font-family: var(--bold);
    line-height: 1.2;
    color: white;
    margin-bottom: 60px;
    & span {
      font-family: var(--regular);
      display: block;
      color: var(--gray);
    }
  }
  &-desc {
    font-size: 24px;
    line-height: 1.5;
    max-width: 80%;
    margin-bottom: 50px;
    color: var(--gray);
  }
  &-text {
    font-family: var(--ultra);
    font-size: 16px;
    color: white;
    margin-bottom: 25px;
  }
  &-download {
    display: flex;
    margin-bottom: 30px;
    column-gap: 20px;
    &-img {
      width: 190px;
      height: 53px;
      border: 3px solid #232a4e;
      border-radius: 15px;
      display: inline-block;
      cursor: pointer;
     
    }
  }
}
.banner-groupImg {
  width: 50%;
  height: 100%;
}
.groupImg-main {
  width: calc((95vh - 160px) / 2);
  height: calc(95vh - 160px);
  position: relative;
  margin: 0 auto;
}
.banner-img {
  &-equa {
    max-width: 360%;
    width: 360%;
    z-index: 0;
    left: 150%;
    transition: all 1s;
  }
  &-1 {
  }
  &-2 {
    width: 70%;
    top: 70%;
    left: 50%;
  }
  &-3 {
    width: 30%;
    top: 83%;
    left: 19%;
  }
  &-4 {
    width: 60%;
    top: 82%;
    left: 14%;
  }
}
@media screen and (max-width: 1680px) {
  .banner-title {
    font-size: 60px;
  }
  .banner-desc {
    font-size: 20px;
  }
}
@media screen and (max-width: 1026px) {
  .banner-title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .banner-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 770px) {
  .banner {
    flex-direction: column;
    &-info {
      order: 2;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .banner-img-equa {
    left: 40%;
  }
}
@media screen and (max-width: 482px) {
  .banner {
    &-groupImg {
      width: 75%;
    }
  }
}
@media screen and (max-width: 420px) {
  .banner {
    &-download{
      flex-direction: column;
      row-gap: 30px;
    }
  }
  .banner-title {
    font-size: 35px;
    margin-bottom: 50px;
  }
  .banner-desc {
    font-size: 16px;
  }
}
/* About */
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin:50px 0;
  &-icon {
    margin-bottom: 30px;
  }
  &-title {
    font-size: 30px;
    line-height: 1.5;
    font-family: var(--bold);
    color: white;
    & span {
      font-family: var(--ultra);
      display: block;
    }
  }
  &-boxs {
    display: flex;
    justify-content: center;
    column-gap: 70px;
    margin: 50px 0 0 0;
  }
}
.about-box {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-img {
    margin-bottom: 30px;
  }
  &-title {
    color: white;
    font-size: 26px;
    margin-bottom: 30px;
  }
  &-desc {
    max-width: 80%;
    margin-bottom: 30px;
    color: var(--gray);
  }
  &-link {
    color: #e600ff;
    font-size: 20px;
    text-decoration: underline;
    margin: auto auto 0;
    width: fit-content;
  }
}

.move{
  left: 80%;
}